@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root{

/*### Primary*/

--Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

/*### Neutral*/

--Light-Grayish-Cyan : hsl(180, 52%, 96%);       /*(Background)*/
--Light-Grayish-Cyan : hsl(180, 31%, 95%);       /*(Filter Tablets)*/
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body
{    
    font-family: 'Spartan', sans-serif;
}